:root {
    --white: #fcfcfc;
    --blue: #004aad;
    --dark-blue: #00357a;
    --light-blue: #f5f7fb;
    --green: #029846;
    --light-green: #d6ffe8;
    --dark-green: #005727;
    --gray: #6c6b7a;
    --light-gray: #6c6b7a;
    --dark-gray: #504f5a;
    --outline-blue: 2px solid #004aad;
    --outline-green: 2px solid #029846;
}

body {
    margin: 0;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    background-color: #f5f7fb !important;
    font-family: "Inter", sans-serif !important;
}

.content-wrapper-1000 {
    max-width: 1000px;
}

.content-wrapper-900 {
    max-width: 900px;
}

.content-wrapper-700 {
    max-width: 700px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.content-header h2 {
    font-weight: 600;
    color: #004aad;
}

.content-header h2 span {
    font-weight: 400;
    font-size: 24px;
}

.layout {
    display: flex;
    flex: 1;
    width: 100%;
}

/* === CONTEÚDO PRINCIPAL === */

.main-content {
    flex-grow: 1;
    margin-left: 308px;
    padding: 108px 0px 80px 124px;
    box-sizing: border-box;
}


/* === SIDEBAR (Desktop) === */

.sidebar {
    width: 308px;
    background: linear-gradient(to right, #004aad, #003989);
    padding: 0 0 20px;
    color: #fff;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
}

.sidebar h2 {
    margin: 52px 0 0 32px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
}

.sidebar h2 span {
    display: block;
    font-weight: 100;
    font-size: 32px;
}

.sidebar h2 span strong {
    font-weight: 700;
}

.line {
    margin-top: 32px;
    border: solid 1px #fff;
    width: 212px;
}

/* Itens do menu  */

.menu {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.menu li {
    margin-left: 32px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 32px 0;
    border-radius: 6px;
    transition: background 0.2s ease;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu a i {
    margin-right: 16px;
    width: 20px;
    text-align: center;
}

.menu-item-line {
    border: solid 1px rgba(244, 248, 255, 0.3);
    margin-left: 32px;
}


.submenu-item-line {
    border: solid 1px rgba(244, 248, 255, 0.3);
    margin-left: 16px;
}

/* Esconde o submenu por padrão */
.submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
    margin-top: -16px;
}

.has-submenu.open .submenu {
    display: block;
}

/* Estilo dos itens do submenu */
.submenu li a {
    color: #fff;
    font-weight: 500;
    display: block;
    padding: 16px 0px 16px 16px;
    text-decoration: none;
    border-radius: 0px;
}

.submenu li a:hover {
    background-color: #f5f7fb;
    color: #002f6c;
    border-radius: 0px;
}

/* Ícone da seta */
.submenu-icon {
    transition: transform 0.3s ease;
}

.has-submenu.open .submenu-icon {
    transform: rotate(180deg);
}

/* === ESTILO FORMULÁRIOS === */
.form-sm {
    max-width: 300px;
}

.form-sm label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #004aad;
}

/* === ESTILO TABELA === */
table .table-blue th {
    background-color: #004aad;
    color: #fff;
}

/* Ajuste para a div envolvente respeitar o layout */
.table-responsive {
    overflow-x: auto;
    margin-bottom: 20px;
}

.table-produtos {
    min-width: 900px;
    width: 100%;
}

.table-produtos th,
.table-produtos td {
    white-space: nowrap;
    vertical-align: middle;
    padding: 6px 8px;
    height: 42px;
    line-height: 1.2;
}

.table th .centered {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.table th i {
    margin-left: 5px;
}

.table-produtos .btn-sm {
    padding: 4px 6px;
    font-size: 0.8rem;
    line-height: 1;
}

.table-produtos .btn-sm i {
    font-size: 13px;
}




details summary {
    cursor: pointer;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    background-color: #2e2e2e;
    margin-bottom: 5px;
}

details ul {
    list-style: none;
    padding-left: 15px;
    margin-top: 5px;
}



/* Layout Geral */

form {
    max-width: 700px;
}



.form-label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #004aad;
}

/* === FLASH MESSAGES === */

.flash-messages {
    margin-top: 94px;
    max-width: 700px;
}

.flash {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    font-weight: bold;
}

.flash-success {
    background-color: #02984680;
    color: #005f2b;
}

.flash-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.flash-warning {
    background-color: #fff3cd;
    color: #856404;
}

.flash-info {
    background-color: #d1ecf1;
    color: #0c5460;
}

.flash .close {
    position: absolute;
    right: 10px;
    top: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    float: right;
}


/* === MENU INFERIOR (Mobile) === */

.mobile-menu {
    display: none;
}

.has-submenu>a {
    display: flex;
    align-items: center;
}

/* Botões */


.button-outline {
    border: var(--outline-blue);
    padding: 8px 24px;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
}


.button-blue {
    background-color: var(--blue);
    color: var(--white);

}

.button-blue:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}

.button-green {
    background-color: var(--green);
    color: var(--white);
}

.button-green:hover {
    background-color: var(--dark-green);
    color: var(--white);
}

.button-gray {
    background-color: var(--gray);
    color: var(--white);
}

.button-gray:hover {
    background-color: var(--dark-gray);
    color: var(--white);
}

.btn-green-sm {
    background-color: var(--green);
    color: var(--white);
}

.btn-green-sm:hover {
    background-color: var(--dark-green);
    color: var(--white);
}

.btn-outline-blue {
    font-weight: 600;
    border: solid 1px;
    color: #004aad;
    padding: 7px 20px;
}

.btn-outline-blue:hover {
    background-color: var(--blue);
    color: #fff;
}

.btn-wrapper {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

/* === BREADCUMB === */
.bread {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.bread a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #67a9ff;
    margin-left: 8px;
}


/* === RESPONSIVO === */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .main-content {
        padding: 60px;
        margin-left: 0px !important;
    }

    .sidebar {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .mobile-menu {
        display: flex !important;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #004aad;
        padding: 20px 0;
        z-index: 9999;
    }

    .mobile-menu a {
        color: white;
        font-size: 32px;
        text-decoration: none;
    }

    /* Ícone ativo no menu inferior */
    .mobile-menu a.active {
        color: #ffd700;
        font-weight: 700;
        transform: scale(1.2);
    }

    .mobile-menu a i {
        padding: 0px 57px;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
    }

    .table-responsive-sm {
        overflow-x: auto;
    }

    .table th,
    .table td {
        white-space: nowrap;
    }

    .venda-wrapper {
        padding: 0 10px;
    }

    .table-produtos {
        min-width: 800px;
    }
}